<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
            <p>This site was created by Paul Attara. It uses data from mapbox.com and darksky.net</p>
            <p>You can use this application to find the weather status for a given region.</p>
            <img class="portrait" src="/images/paul.png">
        </div>
        
        {{>footer}}
    </body>
</html>