<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
            <p>Use this application to find weather status for a given region.</p>
        </div>
        
        {{>footer}}
    </body>
</html>